 
 
  
 <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="index-home?userType=user"></ion-back-button>
    </ion-buttons>
    <!-- <ion-scroll scrollX="true">
    </ion-scroll> -->
    <ion-title color="danger">
      بطاقة المتبرع بالدم
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card color="danger">
  <ion-card-header>
    <center> <img src="assets/123.jpg" alt="blood "style="width:200px;height:200px;">  </center>  

    <ion-card-subtitle>التبرع بالدم </ion-card-subtitle>
    <ion-card-title>ما فوائد التبرع بالدم</ion-card-title>
  </ion-card-header>

  <ion-card-content color="danger">
    زيادة نشاط نخاع العظم لإنتاج خلايا دم جديدة (كريات حمراء وكريات بيضاء وصفائح دموية).
     زيادة نشاط الدورة الدموية .
     التبرع بالدم يساعد علي تقليل نسبة الحديد في الدم لأنه يعتبر أحد أسباب الإصابة بأمراض  القلب وانسداد الشرايين. 
     اثبتت الدراسات أن الذين يتبرعون بدمهم مرة واحدة على الأقل كل سنة هم أقل عرضة للإصابة بأمراض  الدورة الدموية وسرطان الدم  </ion-card-content>
</ion-card>



<ion-toolbar>



<ion-button expand="full" color="danger" href="/create-employee"> تسجيل التبرع 
  <a href="/blood-rig"></a>
  <ion-icon slot="icon-only" name="arrow-undo-circle-outline"></ion-icon>

    </ion-button>
    </ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="succ"></ion-back-button>
    </ion-buttons> -->