<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      serch 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Searchbar</ion-title>
      </ion-toolbar>
      <ion-toolbar>
        <ion-searchbar></ion-searchbar>
      </ion-toolbar>
    </ion-header>
    <ion-content fullscreen>
      <ion-list>
        <ion-item>ramalah hospatial 0599293265</ion-item>
        <ion-item>H.C</ion-item>
        <ion-item>blood bank</ion-item>
        <ion-item>palestine hosital 101 </ion-item>
        <ion-item>istishari hospital 02243200 </ion-item>
        <ion-item>red crescent society hospital 0525848000</ion-item> 
        * tawassil :<a href="https://facebook.com/">facebook </a> 
         emergensy call :101

      </ion-list>
    </ion-content>
  </ion-app>

  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

</ion-content> -->
<ion-content [fullscreen]="true">
  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Saerch</ion-title>
      </ion-toolbar>
      <ion-toolbar>
        <ion-searchbar></ion-searchbar>
      </ion-toolbar>
    </ion-header>
    <ion-content fullscreen>
      <ion-list>
        <ion-item>ramalah hospatial 0599293265</ion-item>
        <ion-item>H.C</ion-item>
        <ion-item>blood bank</ion-item>
        <ion-item>palestine hosital 101 </ion-item>
        <ion-item>istishari hospital 02243200 </ion-item>
        <ion-item>red crescent society hospital 0525848000</ion-item> 
        * tawassil :<a href="https://facebook.com/">facebook </a> 
         emergensy call :101

      </ion-list>
    </ion-content>
<!-- Expand -->
<ion-button expand="full">successful</ion-button>
    
  </ion-app>
  <script>
    const searchbar = document.querySelector('ion-searchbar');
    const items = Array.from(document.querySelector('ion-list').children);

    searchbar.addEventListener('ionInput', handleInput);

    function handleInput(event) {
      const query = event.target.value.toLowerCase();
      requestAnimationFrame(() => {
        items.forEach((item) => {
          const shouldShow = item.textContent.toLowerCase().indexOf(query) > -1;
          item.style.display = shouldShow ? 'block' : 'none';
        });
      });
    }
  </script>
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

</ion-content>
