<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="login2"></ion-back-button>
    </ion-buttons>
    <ion-title>تم تسجيل تبرعك بنجاح</ion-title>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
 
  </ion-toolbar>
</ion-header>

 
<ion-content>

  
  <ion-header>
    
    <ion-toolbar>
    
    </ion-toolbar>
     <img src="assets/succ.jpeg" alt="blood "style="width:200px;height:200px;"> 

    <ion-text color="success">
      <ion-text> <h1>تم تعبئة النموذج بنجاح سيتم التواصل معك لتحديد موعد تبرعك </h1> </ion-text>
    </ion-text>
    
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-button expand="full" color="danger" href="/profile"> الملف الشخصي 
              <a href="/profile "></a>
          </ion-button>
        </ion-col>
      </ion-row>
     </ion-grid>
  </ion-header>

    
      
</ion-content>
