<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="volanteer"></ion-back-button>
    </ion-buttons>
    <ion-title>نجاح طلب التبرع </ion-title>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>
 
  </ion-toolbar>
</ion-header>

 
<ion-content>

  
  <ion-header>
    <ion-toolbar>
    
    </ion-toolbar>
    <center> <img src="assets/succ.jpeg" alt="blood "style="width:200px;height:200px;">  </center>  

    <ion-text color="success">
      <center>  <h1>تم تسجيل الطلب سيتم تقيم الطلب ومراسلتك </h1></center>
    </ion-text>
    
  </ion-header>
</ion-content>
