
// .logo {
//     width: 90%;
//     margin: 20% 0 20% 0;
// }

// .title {
//     margin-bottom: 30px;
// }

// .title p {
//     margin-top: 0 !important;
// }

ion-content{
    --ion-background-color:#ffffff !important;
  }
  
  ion-toolbar{
    --ion-background-color: transparent;
    --opacity:0;
  }
  
  
  
  ion-card-subtitle{
    padding-top: 15px;
    font-size:11px;
    color:#800d0d;
    text-align: center;
    font-weight: 300;
  }
  .logo {
    width: 80%;
    margin: -10% 0 20% 5;
}
  ion-header{
    position: absolute;
  }
  
  ion-card{
    --ion-background-color:transparent;
  box-shadow: none !important;
  }
  
  .signin-btns{
    margin-top: 35px;
    text-align: center;
    color:#104eaa;
  }
  
  .loginbtn{
    --ion-color-primary:#215AB7;
  }
  
  .text-tag{
    margin-top: 40px;
    text-align: center;
    span{
      font-size: 13px;
      font-weight: normal;
      color:#ffffff;
    }
  }
  .img{
    size: 200px;
  }
  
  .social-btns{
    margin-top: 30px;
    text-align: center;
    ion-button{
      width:40px;
      padding-left: 5px !important;
    }
  }
  ion-item{
    --ion-item-background:#fffffff1;
    text-align: center;
    color: #000000;
  }